.btns{
font-size: larger;
width: 95%;
padding: auto;
margin-top: 10%;
border: 2px solid black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}